img {
  border: none;
}

.header-picture {
  width: 65%;
  height: 100px;
  background-image: url(./images/header.png);
  justify-content: center;
  background-repeat: no-repeat;
  margin: 0 auto;
}

.scores,
.recently-made,
.share,
.logout,
.home-icon,
.save-all,
.delete-all,
.delete,
.question-answer,
.add,
.self-assessment {
  width: 25%;
  height: 100px;
  background-repeat: no-repeat;
  justify-content: center;
  cursor: pointer;
}

.scores {
  background-image: url(./images/scores.png);
}

.recently-made {
  background-image: url(./images/recently-made.png);
}

.share {
  background-image: url(./images/share.png);
}

.logout {
  background-image: url(./images/logout.png);
}

h2 {
  text-align: center;
}

.folders,
.users {
  width: 100%;
  height: 200px;
  background-color: rgb(189, 189, 189);
  display: flex;
  flex-wrap: wrap;
}

.batch,
.opened-folder,
.closed-folder {
  width: 100px;
  height: 56px;
  background-repeat: no-repeat;
  cursor: pointer;
}

.batch {
  background-image: url(./images/batch.png);
}

.opened-folder {
  background-image: url(./images/opened-folder.png);
}

.closed-folder {
  background-image: url(./images/closed-folder.png);
}

.add-new-folder {
  width: 150px;
  height: 90px;
  background-image: url(./images/add-new-folder.png);
  cursor: pointer;
}

.icon {
  display: flex;
  flex-direction: column;
  height: 70px;
}

.title {
  width: 95px;
  font-size: 15px;
  margin-left: 5px;
}

.create-title {
  text-align: center;
}

.workspace {
  width: 100%;
  height: 400px;
  background-color: rgb(189, 189, 189);
  display: flex;
  flex-wrap: wrap;
  flex-basis: 400px;
}

.create-new-flashcards,
.home-icon {
  width: 100px;
  height: 130px;
}

.create-new-flashcards {
  background-image: url(./images/create-new-flashcards.png);
}

.home-icon {
  background-image: url(./images/home-icon.png);
}

.self-assessment {
  width: 100px;
  height: 130px;
  background-image: url(./images/self-assessment.png);
}

.flashcards-title {
  width: 50%;
  height: 30px;
}

.save-all {
  background-image: url(./images/save-all.png);
}

.delete-all {
  background-image: url(./images/delete-all.png);
}

.space,
.bottom-space {
  display: flex;
  margin-top: 10%;
  justify-content: center;
}

.content {
  width: 100%;
  height: 100px;
}

.previous {
  width: 15%;
  height: 100px;
  background-repeat: no-repeat;
  background-image: url(./images/previous.png);
}

.next {
  width: 15%;
  height: 100px;
  background-repeat: no-repeat;
  background-image: url(./images/next.png);
}

.track-cards {
  justify-content: center;
}

.delete {
  background-image: url(./images/delete.png);
}

.question-answer {
  background-image: url(./images/front-back.png);
}

.add {
  background-image: url(./images/add.png);
}

.trash-can {
  width: 25%;
  height: 200px;
  background-repeat: no-repeat;
  background-image: url(./images/trash-can.png);
}

.scores-results {
  width: 25%;
  height: 200px;
  margin-left: 25%;
  background-repeat: no-repeat;
  background-image: url(./images/scores-results.png);
}

.post {
  width: 90px;
  height: 100px;
  background-repeat: no-repeat;
  background-image: url(./images/post.png);
  cursor: pointer;
}

.trash {
  width: 15%;
  height: 90px;
  background-repeat: no-repeat;
  background-image: url(./images/trash.png);
  cursor: pointer;
}

.edit {
  width: 90px;
  height: 100px;
  background-repeat: no-repeat;
  background-image: url(./images/edit.png);
  cursor: pointer;
}

.area {
  width: 90%;
  height: 100px;
  border-style: solid;
}

.wrong {
  width: 15%;
  height: 100px;
  background-repeat: no-repeat;
  background-image: url(./images/wrong.png);
  cursor: pointer;
}

.correct {
  width: 15%;
  height: 100px;
  background-repeat: no-repeat;
  background-image: url(./images/correct.png);
  cursor: pointer;
}

.scores2 {
  width: 90px;
  height: 100px;
  background-repeat: no-repeat;
  background-image: url(./images/scores.png);
}

.stats {
  width: 160px;
  height: 100px;
  display: flex;
  flex-direction: column;
}

.table {
  margin-top: 15%;
  width: 100%;
  height: 400px;
  background-color: rgb(189, 189, 189);
}

tbody,
.table,
thead {
  display: flex;
  flex-direction: column;
}

tr {
  width: 100%;
}

td,
th {
  text-align: center;
  width: 200px;
}

.share-logo {
  width: 150px;
  height: 170px;
  margin-left: 25%;
  background-repeat: no-repeat;
  background-image: url(./images/share-logo.png);
}

.person-black,
.person-white {
  width: 70px;
  height: 70px;
  background-repeat: no-repeat;
  cursor: pointer;
}

.person-black {
  background-image: url(./images/person-black.png);
}

.person-white {
  background-image: url(./images/person-white.png);
}

button {
  margin-left: 20px;
  width: 100px;
  height: 50px;
}

.checkbox {
  margin-left: 20px;
}

.bullets {
  width: 100%;
  height: 400px;
  background-color: rgb(189, 189, 189);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  overflow: scroll;
}

.shrug {
  width: 25%;
  height: 200px;
  margin-left: 25%;
  background-repeat: no-repeat;
  background-image: url(./images/shrug.png);
}
